/* Styles for the slot times */
.slot-time {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

/* Hover effect for slot times */
.slot-time:hover {
    background-color: #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styles for selected slots */
.slot-time.selected {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

/* Styles for booked slots */
.slot-time.booked {
    background-color: #ff4d4d;
    color: white;
    cursor: not-allowed;
}

/* Styles for past times */
.slot-time.pastTime {
    background-color: rgba(128, 128, 128, 0.73);
    color: white;
    cursor: not-allowed;
    pointer-events: none; /* Disable pointer events */
}
.modalPriceBoard div {
    margin: 10px 0;
}
.modalPriceBoard div strong {
    color: red;
}

.slot-time {
    height: 100%;
    width: 100%;
}
.detail-yard {
    padding: 150px 0 50px 0;
}
